<p>The content of the document......</p>
<div class="target-calculator-conatiner">
    <h2 class="title-header"> Target Calculator</h2>
    <section class="target-calculator-wrapper">
        <h5 class="target-calculator-heading">Lorem ipsum dolor sit amet,<br/> sed do eiusmod tempor incididunt ut labore</h5>

        <div class="target-calculator-middleSection">
            <h5 class="title-inner">Target Section</h5>
            <div class="textBox-container-small">
                <span>A</span>
                <input type="text" />
            </div>
            <div class="textBox-container-small">
                <span>X</span>
                <input type="text" />
            </div>
            <div class="textBox-container-small">
                <span>B</span>
                <input type="text" />
            </div>
            <div class="textBox-container-small">
                <span>Y</span>
                <input type="text" />
            </div>
            <div class="textBox-container-small">
                <span>C</span>
                <input type="text" />
            </div>
            <div class="textBox-container-small">
                <span>Z</span>
                <input type="text" />
            </div>
            <div class="textBox-container-small">
                <span>Total</span>
                <input type="text" />
            </div>
        </div>

        <div class="textBox-container-big">
            <span>Title One</span>
            <input type="text" />
        </div>

        <div class="textBox-container-big">
            <span>Title Two</span>
            <input type="text" />
        </div>
    </section>
</div>